body {
    font-family: 'Berkeley Mono', monospace, monospace;
}

#auto {
    white-space: pre;
    line-height: 1.15;
    text-align: center;
}

#rule {
    position: absolute;
    border: solid white 1px;
    padding: 0px 4px;
    background-color: black;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: black;
}

@font-face {
    font-family: 'Berkeley Mono';
    src: url('../BerkeleyMono-Regular.woff2') format('woff2');
}

@media (prefers-color-scheme: light) {
    #container {
        background-color: white;
    }

    #rule {
        background-color: white;
        border: solid black 1px;
    }
}
